In [6]:
import torch
import torch.nn as nn
import warnings
warnings.filterwarnings("ignore")
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.preprocessing import MinMaxScaler

In [4]:
df = pd.read_csv('super_puper_final_df.csv').drop(columns=['Unnamed: 0'])

In [5]:
df['cnt_cumsum_entry'].iloc[-1]

36036.0

In [8]:
day_data = pd.read_csv('/Users/kuprik01/Projects/marking hack/rus/super_puper_final_df.csv').drop(columns=['Unnamed: 0'])
day_data['cnt_cumsum_sold'] = day_data['cnt_cumsum_sold'].astype(float)
day_data['cnt_cumsum_entry'] = day_data['cnt_cumsum_entry'].astype(float)
day_data['dt'] = pd.to_datetime(day_data['dt'])

In [18]:
top_100_gtin_sold = day_data.groupby('gtin', as_index=False).cnt_cumsum_sold.sum().sort_values('cnt_cumsum_sold')[-100:].gtin

In [20]:
day_data[day_data.gtin.isin(top_100_gtin_sold)]

,cnt_cumsum_entry,gtin,dt,cnt_cumsum_sold
5,0.0,8CB88CFCD80739D8171051B5116FA775,2021-11-22,440.0
36,0.0,1E0E222C90EABB54A93A4858AD808520,2021-11-22,28.0
38,0.0,1CC537739C4992617842FC2CBE9DC7AA,2021-11-22,170.0
61,0.0,9305E5376E59A7CCF71D03CC1E2B9896,2021-11-22,355.0
69,0.0,5D74B67E1DAC42C7526F27A6BDA73FF6,2021-11-22,929.0
...,...,...,...,...
362790,199153.0,3F4E74FCCF1AD81B35722C4147641417,2022-11-21,183259.0
362791,118996.0,4F0FC1349164656A072D1340BE15ABA0,2022-11-21,132445.0
362798,224601.0,42BDD740387D3866D50F6DEA30390568,2022-11-21,186082.0
362799,130242.0,D92BE120CD99553CA5FFDFE452A95D4E,2022-11-21,154192.0
362808,153630.0,580717CA2E4E033BA83766F16C53AB02,2022-11-21,330405.0